.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-left: -75px;
    padding: 0;
    padding-top: 85px;
    border-top: 1px solid $font-color-dark-grey;

    list-style: none;
}

.feature-list__item {
    width: 275px;
    padding-left: 75px;
}

.feature-list__title {
    margin: 0;
    margin-bottom: 12px;

    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
}

.feature-list__explanation {
    margin: 0;
    margin-bottom: 85px;

    color: $font-color-grey;
}

@media(min-width: 1010px) {
    .feature-list {
        margin-left: 0;
        padding-top: 45px;
    }

    .feature-list__item--responsive {
        background-image: url(../../img/responsive.png);
        background-repeat: no-repeat;
    }

    .feature-list__item--layered {
        background-image: url(../../img/layered.png);
        background-repeat: no-repeat;
    }

    .feature-list__item--icons {
        background-image: url(../../img/icons.png);
        background-repeat: no-repeat;
    }

    .feature-list__item--html {
        background-image: url(../../img/html.png);
        background-repeat: no-repeat;
    }

    .feature-list__item--email {
        background-image: url(../../img/email.png);
        background-repeat: no-repeat;
    }

    .feature-list__item--free {
        background-image: url(../../img/free.png);
        background-repeat: no-repeat;
    }
}
