.main-nav {
    font-family: $minor-font;
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
}

.main-nav__list {
    position: absolute;
}

@media(min-width: 992px) {
    .main-nav__list {
        position: static;

        display: flex;
    }

    .main-nav__toggle {
        display: none;
    }
}
