/* background-image: url('../img/back/image-1465348_960_720.jpg'); */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}

body {
    min-width: 992px;
    margin: 0;

    font-family: $major-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $page-color-black;
}
