$page-color-yellow: #fcdb00;
$page-color-black: #010101;
$font-color-grey: #898989;
$font-color-dark-grey: #313841;

$major-font: "PT Sans", "Arial", sans-serif;
$minor-font: "Helvetica", sans-serif;
